<<<<<<< HEAD
@font-face {
    font-family: 'Lacquer';
    src: local('Lacquer-Regular');
}

* {
    font-family: Lacquer;
}

=======
>>>>>>> ba18aaa6474c554435970d51bb2881f80c27eb64
#site-title{
    
}