:root {
  /* Couleurs principales */
  --color-primary: #363b56;
  --color-secondary: #cf5140;
  --color-tertiary: #e6d41d;

  /* Couleurs neutres */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-100: #e4e2df;
  --color-gray-500: #a9bdc3;
  --color-gray-900: #15182c;

  /* États */
  --color-success: #27ae60;
  --color-error: #e74c3c;
  --color-warning: #f39c12;
}

@font-face {
    font-family: 'Lacquer';
    src: local('Lacquer-Regular');
}

* {
    font-family: Lacquer;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1; 
}

footer {
  background-color: #ddd;
  text-align: center;
  padding: 1rem;
  height: 15vh;
  
}

#connexion-form {

}



#site-title{
    
}

.row{
    
}